{
  description = "Nix flake for the project '{{project_name}}'";

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/24.05";
    typst.url = "github:typst/typst?ref=v{{typst_version}}";
  };

  outputs = { self, nixpkgs, typst }:
  let
    system = "x86_64-linux";
    pkgs = nixpkgs.legacyPackages.${system};
  in
  {
    devShells.${system}.default = pkgs.mkShell {
      packages = [
        typst.packages.${system}.typst-dev
      ];
    };
  };
}
